#home_topBackgroundFrame {
    padding: 10px;
    text-align: center;
    /* background-color: #98264a; */
    color: #ffffff;
    background-image: url(../media/homePage/homeBackground.png); /* ".." is docs folder */
    background-size: 100% auto;
    background-repeat: no-repeat;
    aspect-ratio: 1.32;
}

#home_pageHeadingImg {
    position: relative;
    width: 70%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border-radius: 10vw;
}

/* #home_coralTransition {
    position: relative;
    width: 100%;
    height: 20vw;
} */

/* #home_mainContentBackgroundFrame {
    position: relative;
    background-color: #b0c0e8;
} */
 
.home_mainContentImage {
    position: relative;
    flex: 1;
    float: right;
    width: 100%;
    aspect-ratio: 1.33;
    object-fit: cover;
}

@media (max-width: 600px) { /*aspect ratio for phones*/
  .home_mainContentImage {
    aspect-ratio: 0.75;
  }
}

.home_mainContentFrameL {
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    align-items: center;
}

.home_mainContentFrameR {
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    align-items: center;
}

#home_imagesRow {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.home_imagesRowImage {
    position: relative;
    top: 0px;
    margin: 0px;
    width: 33.333%;
    aspect-ratio: 0.8;
    object-fit: cover;
    float: left;
}

/* #home_mainContent2TopImage {
    position: relative;
    width: 100%;
    margin: 0vw 0vw 0vw 0vw;
    aspect-ratio: 1.5;
    object-fit: cover;
}

#home_mainContent2BottomImage {
    position: relative;
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: cover;
    margin: 2vw 0vw 0vw 0vw;
} */

/* #home_mainContent3Image {
    position: relative;
    float: top;
    width: 100%;
    height: 20vw;
    vertical-align: auto;
} */

#home_fishFactsFrame {
    position: relative;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 8% 74% 8%;
    width: 90%;
}

#home_fishFactsHeading {
    text-align: center;
}

#home_fishFactsText {
    position: relative;
    padding: 0% 5% 0% 5%;
}

.home_fishFactsScrollButton {
    position: relative;
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    border-width: 0px;
    font-size: 3vw;
    background-color: var(--colors-navbar-buttons);
}


#home_mainContent2Heading {
    text-align: center;
}