#news_temporaryNewsText {
    position: relative;
}

#page_news {
    margin: 20px auto;
    width: 85vw;
    overflow: auto;
    font-size: larger;
}

#news_dataFrame {
    position: relative;
}

.news_entryBox {
    position: relative;
    margin: 10px auto;
    background-color: var(--colors-news-main);
    width: 90%;
    border: 20px;
}

.news_entryDate {
    position: relative;
    top: 0px;
    width: 100%;
    background-color: var(--colors-news-heading);
}

.news_dateText {
    text-indent: 10px;
}

.news_titleText {
    text-align: center;
}

.news_mainText {
    padding: 15px;
}