#recruitment_topPhotoFrame {
    position: relative;
    display: flex;
}

.recruitment_topPhoto {
    position: relative;
    top: 0px;
    margin: 0px;
    width: 33.333%;
    aspect-ratio: 1;
    object-fit: cover;
    float: left;
}

#recruitment_subpageButtonsFrame {
    display: flex;
    background-color: var(--colors-recruitment-subpage-buttons-frame);
    height: max(5vw, 32px);
    width: 80vw;
    margin: auto;
    border-radius: 2vw 2vw 0px 0px;
}

#recruitment_subpageContentFrame {
    background-color: var(--colors-recruitment-subpage-background);
    height: fit-content;
    width: 80vw;
    margin: auto;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 0vw 0vw 2vw 2vw;
}

.recruitment_subpageButton {
    width: 50%;
    height: 100%;
    border: 0px;
    border-radius: 2vw 2vw 0px 0px;
    /* background-color: var(--colors-navbar-buttons); COLOR CONTROLLED BY SCRIPT */
}

.recruitment_casListItem {
    line-height: 1.2;
    margin: 6px 0px 0px 0px;
}

#recruitment_subpageSignup {
    text-align: center;
}

#recruitment_signupFormLink {
    text-align: center;
    font-size: max(3vw, 21px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.recruitment_signupEmailLink {
    text-align: center;
    font-size: max(2.2vw, 16px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 2;
}

/* #recruitment_mainContent1 {
    position: relative;
    text-align: center;
} */