:root {
    color-scheme: light dark;
    background-color: light-dark(#b0c0e8, #202020);
}

#topbar {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: min(10vh, 8.333vw);
    top: 0;
    left: 0;
    background-color: light-dark(#8ba6e3, #303030);
}

#topbar_frame {
    position: relative;
    width: min(120vh, 100vw);
    height: min(10vh, 8.333vw);
    margin: auto;
    /* background-color: #ff0000; */
    text-align: center;
    font-size: min(8vh, 6.667vw);
}

#topbar_frame_right {
    z-index: 2;
    position: fixed;
    height: min(10vh, 8.333vw);
    top: 0%;
    right: 0%;
    aspect-ratio: 1;
    /* background-color: #00ff00; */
    text-align: center;
    font-size: min(8vh, 6.667vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

#config_lang {
    position: relative;
    padding: 0;
    text-align: center;
    height: 70%;
    width: 70%;
    background-color: light-dark(#ffffff, #303030);
    font-size: min(3vh, 2.5vw);
}

.navButton {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 60%;
    aspect-ratio: 2.5;
    background-color: light-dark(#ffffff, #505050);
    font-size: min(2vh, 1.667vw);
}

#nav_home {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 80%;
    aspect-ratio: 3;
    background-color: #ffffff;
    /* border: 0px solid transparent; */
    font-size: min(6vh, 5vw);
    background-image: url(coralliumLogo.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* #logoimg {
    border: 2px solid #000000;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#contents_frame {
    position: absolute;
    /* background-color: #ff00ff; */
    top: min(10vh, 8.333vw); /*15vh*/
    left: 0vw;
    width: 100vw;
    /* height: 10000px; */
}

.contentspage {
    box-sizing: border-box;
    background-color: transparent; /* light-dark(#ffffff, #303030); */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 20px solid transparent; light-dark(#ffffff, #303030); */
    /* border-radius: 10px; */
}

.home {
    display: block;
}

.nothome {
    display: none;
}



/* #page_mission {
    height: 10000px;
}

#page_home {
    background-color: #ff00ff;
    height: 10000px;
} */