:root {
    color-scheme: light dark;
    background-color: light-dark(#b0c0e8, #505050);
}

#topbar {
    position: absolute;
    width: 100vw;
    height: min(10vh, 8.333vw);
    top: 0;
    left: 0;
    background-color: light-dark(#8ba6e3, #404040);
}

#topbar_frame {
    position: relative;
    width: min(120vh, 100vw);
    height: min(10vh, 8.333vw);
    margin: auto;
    /* background-color: #ff0000; */
    text-align: center;
    font-size: min(8vh, 6.667vw);
}

/* #topbar_frame_right {
    position: absolute;
    height: min(10vh, 8.333vw);
    top: 0%;
    right: 0%;
    aspect-ratio: 1;
    background-color: #00ff00;
    background-image: url(coralliumLogo.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: min(8vh, 6.667vw);
} */

/* #lightmodebutton {
    position: relative;
    text-align: center;
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    background-color: light-dark(#ffffff, #303030);
    font-size: min(4vh, 3.333vw);
} */

.navButton {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 60%;
    aspect-ratio: 2.5;
    background-color: light-dark(#ffffff, #303030);
    font-size: min(2vh, 1.667vw);
}

#nav_home {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 80%;
    aspect-ratio: 3;
    background-color: #ffffff;
    /* border: 0px solid transparent; */
    font-size: min(6vh, 5vw);
    background-image: url(coralliumLogo.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* #logoimg {
    border: 2px solid #000000;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#contents_frame {
    position: absolute;
    /* background-color: transparent; */
    top: 15vh;
    left: 5vw;
    width: 90vw;
    /* height: 10000px; */
}

.contentspage {
    box-sizing: border-box;
    background-color: light-dark(#ffffff, #303030);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: 20px solid light-dark(#ffffff, #303030);
    border-radius: 10px;
}

.home {
    display: block;
}

.nothome {
    display: none;
}



/* #page_mission {
    height: 10000px;
}

#page_home {
    background-color: #ff00ff;
    height: 10000px;
} */